#main_contact {
  padding: 1rem 2rem;
}

.main_contact-title {
  text-align: start;
  margin-bottom: 12px;
  content: "effect";
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.email,
.messenger,
.whatsapp {
  border: 1px solid oldlace;
  width: max-content;
  padding: 16px 16px;
  margin-bottom: 32px;
  font-size: var(--normal_font_size);
  font-family: var(--body_font);
}

.whatsapp,.messenger {
  min-width: 240px;
}

.form-contact {
  width: max-content;
  background-image: linear-gradient(to right, #fff7c8 0%, #fa709a 100%);
  padding: 16px 40px;
  margin-right: 24px;
}

.error {
  color: red;
  margin-bottom: 16px;
}

input {
  padding: 10px;
  margin: 5px;
  width: 20rem;
  background: rgb(167, 209, 67);
  
  color: #f715f7;
  margin-bottom: 16px;
}

.form-textarea {
  text-align: center;
  align-self: center;
}

.submit-btn {
  margin-top: 16px;
  margin-left: 40%;
  position: relative;
  padding: 12px 24px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  background-color: chartreuse;
  text-shadow: 0 0 3px;
  border-radius: 16px;
  transition:
    border 1s,
    color 0.5s,
    background-color 0.5s 0.2s,
    box-shadow 0.5s 0.3s;
}

.submit-btn:hover {
  background-color: rgb(93, 42, 141);
}

.submit-btn::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(22, 194, 194);
  top: -40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  transition: top 1s, opacity 0.2s 0.3s;
}

.submit-btn::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(22, 194, 194);
  bottom: -40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  transition: bottom 1s, opacity 0.2s 0.3s;
}

.submit-btn span::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(22, 194, 194);
  bottom: 50%;
  left: -30%;
  position: absolute;
  transform: translate(0, -50%);
  transition: left 1s, opacity 0.2s 0.3s;
}

.submit-btn span::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(22, 194, 194);
  bottom: 50%;
  right: -30%;
  position: absolute;
  transform: translate(0, -50%);
  transition: right 1s, opacity 0.2s 0.3s;
}

.submit-btn:hover::before {
  top: 30%;
  opacity: 0;
}

.submit-btn:hover::after {
  bottom: 30%;
  opacity: 0;
}

.submit-btn:hover span::before {
  left: 45%;
  opacity: 0;
}

.submit-btn:hover span::after {
  right: 45%;
  opacity: 0;
}

@media screen and (min-width: 600px) {
  .contact__options {
    flex-direction: row;
    margin-bottom: 12px;
  }

  .contact__options-form {
    margin-left: 64px;
    width: max-content;
  }
}

@media screen and (min-width: 768px) {
  .main_contact-title {
    text-align: center;
  }

  .contact__options {
    gap: 180px;
  }
}
