.main_footer {
  padding: 1rem 2rem;
  margin-left: 10%;
}

.footer_links {
  display: flex;
}

.main_footer-icon {
  padding: 2rem;
  color: rgb(151, 122, 122);
  font-size: 30px;
}

.main_footer-copy {
  margin-top: 20px;
  width: auto;
  border-bottom: 1px solid #fff;
}

@media screen and (min-width: 600px) {
  .main_footer-copy {
    width: 30%;
  }
}
