@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@500;600;700;800&display=swap');

:root {
  --frist_color: hsl(271, 76%, 53%);
  --title_color: hsl(0, 0, 40%);
  --text_color: hsl(0, 0, 50%);
  --body_color: hsl(0, 0, 100%);
  --container_color: hsl(0, 0, 93%);
  --border_color: hsl(0, 0, 87%);
  --white_text: #fff;
  --black_text: #1f1f38;
  --pop-up_text: hsl(189, 88%, 50%);
  --body_font: 'Open Sans', sans-serif;
  --second_font: 'Poppins', sans-serif;
  --big_font_size: 56px;
  --h1_font_size: 50px;
  --h2_font_size: 32px;
  --h3_font_size: 24px;
  --large_font_size: 18px;
  --normal_font_size: 16px;
  --small_font_size: 15px;
  --smaller_font_size: 14px;
  --tiny_font_size: 56px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  text-decoration: none;
}
